.bg-primary {
    font-size: 14px;
    color: white
}

#menu {
    height:80vh;
    background-color: #eee;
}

#weatherInfo {
    display: none;
}

@media (max-width: 768px){
#menu {
    height: 100%
}
}